@model HustleCastle.Models.Tutorial

@{
    ViewData["Title"] = "Detalhes";
}
<div class="card">
    <div class="card-header text-center">
        <h4>@Model.Title</h4>
    </div>
    <div class="card-body">
        <div>
            @Html.Raw(Model.Text)
        </div>
    </div>
    <div class="card-footer">
        <div class="float-left">
            Autor: @Model.Author
        </div>
        <div class="float-right">
            Data de criação: @Model.CreatedAt
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
    @if (User.Identity.Name == Model.Author)
    {
        <a asp-action="Excluir" asp-route-id="@Model.ID" class="btn btn-danger">Excluir</a>
        <a asp-action="Editar" asp-route-id="@Model.ID" class="btn btn-success">Editar</a>
    }

</div>
